<div class="container app">
  <div class="row">
    <div class="col-sm-8">
      <h1 style="text-align: center;">
        {{title}}
      </h1>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissable">
        <a href="#" class="close">&times;</a>
        Mensaje aquí
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <h2>Agregar empleados</h2>
    <form class="form-horizontal">
      <!-- input name -->
       <div class="form-group">
        <label for="name" class="control-label col-sm-2">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="modelo.name" placeholder="Escríbe aquí el nombre">
        </div>
       </div>
      <!-- input position -->
       <div class="form-group">
        <label for="position" class="control-label col-sm-2">Puesto</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="position" name="position" [(ngModel)]="modelo.position" placeholder="Escríbe aquí el puesto">
        </div>
      </div>
          <!-- input salary -->
      <div class="form-group">
        <label for="salary" class="control-label col-sm-2">Salario</label>
        <div class="col-sm-10">
        </div>
      </div>          <input type="text" class="form-control" id="salary" name="salary" [(ngModel)]="modelo.salary" placeholder="Escríbe aquí el salario">
     <!-- input age -->
      <div class="form-group">
        <label for="position" class="control-label col-sm-2">Edad</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="age" name="age" [(ngModel)]="modelo.age" placeholder="Escríbe aquí la edad ">
        </div>
       </div>
     <!-- input sex -->
      <div class="form-group">
        <label for="sex" class="control-label col-sm-2">Sexo</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="sex" name="sex" [(ngModel)]="modelo.sex">
        </div>
       </div>
     <!-- input email -->
      <div class="form-group">
        <label for="email" class="control-label col-sm-2">E-mail</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="modelo.email" placeholder="Escríbe aquí el E-mail ">
        </div>
       </div>
    </form>


  </div>

</div>



<button class="btn btn-primary">Aceptar</button>
<router-outlet />
